@import "tailwindcss";
@source "../node_modules/streamdown/dist/*.js";

@theme {
    --color-primary-color: #1b1e21;
    --color-secondary-color: #303336;
    --color-third-color: #6b6e70;
    --color-fourth-color: rgb(108, 78, 217); /*#86c232*/
    --font-orbitron: "Orbitron", sans-serif;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-weight: 300;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    /* ... other required variables for muted, border, primary, etc. ... */
    --radius: 0.625rem;
    --border: 1px solid yellow;
}
.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    /* ... define corresponding dark mode variables ... */
}

html,
body {
    border-radius: 20px;
    overflow: hidden;
    color: white;
}

.header {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.editable {
    position: relative;
    z-index: 2;
}

.editable[data-empty=""]::before {
    content: attr(data-placeholder);
    @apply text-third-color;
    pointer-events: absolute;
    position: fixed;
    z-index: -1;
    /* bottom: 1.5rem; */
}

.hide-scrollbar-arrows::-webkit-scrollbar-button {
    display: none;
}
